@font-face {
  font-family: 'ProximaNovaCond-Semibold';
  src: url('ProximaNovaCond-Semibold.eot');
  src: url('ProximaNovaCond-Semibold.eot?#iefix') format('embedded-opentype'),
       url('ProximaNovaCond-Semibold.woff') format('woff'),
       url('ProximaNovaCond-Semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

