.form-wrapper {
  width: 400px;
  margin: auto; }

.contact-me {
  padding: 0;
  margin-bottom: 0; }
  .contact-me-message {
    box-sizing: border-box;
    padding: 40px 50px;
    margin-bottom: 35px;
    background-color: #48cbe8;
    font-size: 27px;
    color: white;
    text-align: center;
    border-bottom: 20px solid #51daf8; }
  .contact-me-name, .contact-me-email, .contact-me-text {
    font-family: 'fira_sanslight', sans-serif; }
    .contact-me-name-label, .contact-me-email-label, .contact-me-text-label {
      display: block;
      font-size: 19px;
      color: #959aa8; }
    .contact-me-name-input, .contact-me-email-input, .contact-me-text-input {
      margin-bottom: 10px;
      width: 100%; }
  .contact-me-name-box {
    float: left;
    width: 190px; }
  .contact-me-email-box {
    float: right;
    width: 190px; }
  .contact-me-text-input {
    height: 180px; }
  .contact-me-captcha {
    margin-bottom: 25px;
    text-align: right; }
    .contact-me-captcha .g-recaptcha {
      display: inline-block; }
  .contact-me-submit {
    float: left; }
  .contact-me-reset {
    float: right; }
  .contact-me-submit, .contact-me-reset {
    font-size: 19px;
    margin-bottom: 40px; }
