.auth-form {
  padding: 0;
  position: absolute;
  width: 590px;
  height: 480px;
  left: 50%;
  top: 50%;
  margin-left: -295px;
  margin-top: -240px;
  background-color: #eff3f7;
  border-radius: 4px;
  box-shadow: 0px 5px 10px 0 #959aa8;
  overflow: hidden; }
  .auth-form-title {
    box-sizing: border-box;
    padding: 25px;
    margin-bottom: 25px;
    background-color: #48cbe8;
    font-size: 40px;
    color: #fff;
    text-align: center;
    border-bottom: 20px solid #51daf8; }
  .auth-form-login, .auth-form-pass {
    font-family: 'fira_sanslight', sans-serif; }
    .auth-form-login-label, .auth-form-pass-label {
      display: block;
      text-align: center;
      font-size: 36px;
      color: #959aa8; }
    .auth-form-login-input, .auth-form-pass-input {
      display: block;
      margin: auto;
      width: 420px;
      margin-bottom: 20px;
      padding: 10px;
      box-sizing: border-box;
      border: 1px solid #51daf8;
      border-radius: 4px;
      background-color: #fff;
      color: #51daf8;
      font-size: 17px; }
      .auth-form-login-input::-webkit-input-placeholder, .auth-form-pass-input::-webkit-input-placeholder {
        color: #51daf8; }
      .auth-form-login-input::-moz-placeholder, .auth-form-pass-input::-moz-placeholder {
        color: #51daf8; }
      .auth-form-login-input:-ms-input-placeholder, .auth-form-pass-input:-ms-input-placeholder {
        color: #51daf8; }
      .auth-form-login-input::placeholder, .auth-form-pass-input::placeholder {
        color: #51daf8; }
  .auth-form-submit {
    display: block;
    margin: auto;
    padding: 0px 60px;
    color: #fff;
    font-size: 36px;
    border: none;
    border-radius: 6px;
    margin-bottom: 40px;
    box-shadow: 0px -4px 1px -2px #3ba8c0 inset;
    background-color: #51daf8; }
    .auth-form-submit:active {
      box-shadow: 0px 4px 1px -2px #3ba8c0 inset; }
    .auth-form-submit:hover {
      box-shadow: none; }
