/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
.social-vk {
  background-image: url(../img/sprite.png);
  background-position: -97px 0px;
  width: 47px;
  height: 47px; }

.social-fb {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 47px;
  height: 47px; }

.social-tw {
  background-image: url(../img/sprite.png);
  background-position: -97px -97px;
  width: 47px;
  height: 47px; }

.social-git {
  background-image: url(../img/sprite.png);
  background-position: -194px -97px;
  width: 47px;
  height: 47px; }

.login-lock {
  background-image: url(../img/sprite.png);
  background-position: -373px -82px;
  width: 20px;
  height: 32px; }

.close {
  background-image: url(../img/sprite.png);
  background-position: 0px -364px;
  width: 25px;
  height: 25px; }

html, body {
  height: 100%;
  color: #4a545d; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal; }

h1 {
  font-size: 27px; }

h2 {
  font-size: 21px; }

h3 {
  font-size: 17px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 15px; }

h6 {
  font-size: 14px; }

p {
  font-size: 15px; }

/* True headers
h1{	font-size: 27px; }
h2{	font-size: 25px; }
h3{	font-size: 23px; }
h4{	font-size: 21px; }
h5{	font-size: 19px; }
h6{	font-size: 17px; }
*/
ul {
  list-style: none;
  margin: 0;
  padding: 0; }

body {
  min-width: 980px;
  background-image: url("../img/bg.png");
  font-family: 'fira_sansbook', sans-serif; }

.hidden {
  display: none !important; }

.main-page {
  min-height: 100%;
  margin-bottom: -80px; }
  .main-page:after {
    display: block;
    content: "";
    height: 80px; }

.page-wrapper {
  width: 960px;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px; }
  .page-wrapper:after, .page-wrapper:before {
    content: "";
    display: block;
    clear: both; }
  .page-wrapper:before {
    display: table; }

.header-wrapper {
  max-width: 1200px;
  margin: auto;
  padding-top: 35px;
  padding-bottom: 35px; }
  .header-wrapper:after, .header-wrapper:before {
    content: "";
    display: block;
    clear: both; }
  .header-wrapper:before {
    display: table; }

.page-header {
  background-color: #eff3f7; }
  .page-header:after, .page-header:before {
    content: "";
    display: block;
    clear: both; }
  .page-header:before {
    display: table; }
  .page-header:after {
    height: 3px;
    background-image: url("../img/line.jpg");
    background-position: center;
    background-repeat: repeat-y;
    background-size: 100%; }

.logo-link {
  display: block;
  float: left; }

.logo-image {
  display: block; }

.logo-text {
  display: block;
  position: absolute;
  text-indent: -9999px; }

.social {
  float: right;
  font-size: 0; }
  .social-item {
    display: inline-block;
    margin-left: 25px;
    font-size: 1em; }
  .social-item:first-child {
    margin-left: 0; }
  .social-link {
    display: block;
    text-indent: -9999px; }
  .social-vk:hover {
    background-position: 0px -97px; }
  .social-tw:hover {
    background-position: -194px 0px; }
  .social-fb:hover {
    background-position: -97px -194px; }
  .social-git:hover {
    background-position: 0px -194px; }

.main-sidebar {
  float: left;
  width: 250px; }

.main-menu {
  background-color: #eff3f7;
  margin-bottom: 25px;
  overflow: hidden;
  border-radius: 4px; }
  .main-menu .menu-link {
    display: block;
    text-decoration: none;
    color: #959aa8;
    font-size: 21px;
    padding: 20px 15px;
    margin-left: 10px;
    margin-right: 10px;
    border-top: 2px solid #3ba8c0; }
    .main-menu .menu-link:hover {
      color: #3ba8c0; }
  .main-menu .menu-item:first-child .menu-link {
    border: none; }
  .main-menu .active.menu-item {
    background-color: #3ba8c0; }
    .main-menu .active.menu-item .menu-link {
      font-size: 22px;
      color: #fff;
      border: none; }
    .main-menu .active.menu-item + .menu-item .menu-link {
      border-top: none; }

.contact {
  color: #fff;
  margin-bottom: 25px;
  overflow: hidden;
  border-radius: 4px; }
  .contact .title {
    background-color: #3ba8c0;
    padding: 5px 25px; }
  .contact-item {
    padding: 5px 0;
    position: relative; }
    .contact-item:before {
      display: block;
      position: absolute;
      top: 7px;
      left: 40px;
      content: ""; }
    .contact-item-mail {
      background-color: #41b9d4; }
      .contact-item-mail:before {
        background-image: url(../img/sprite.png);
        background-position: -91px -291px;
        width: 21px;
        height: 16px; }
    .contact-item-phone {
      background-color: #48cbe8; }
      .contact-item-phone:before {
        background-image: url(../img/sprite.png);
        background-position: -373px -234px;
        width: 19px;
        height: 20px; }
    .contact-item-skype {
      background-color: #51daf8; }
      .contact-item-skype:before {
        background-image: url(../img/sprite.png);
        background-position: -373px -164px;
        width: 20px;
        height: 20px; }
  .contact-link {
    margin-left: 85px;
    vertical-align: middle;
    color: #fff;
    text-decoration: none; }
    .contact-link:hover {
      text-decoration: underline; }

.info-block {
  box-sizing: border-box;
  background-color: #eff3f7;
  margin-bottom: 25px;
  padding-bottom: 15px;
  padding-right: 35px;
  border-radius: 4px;
  overflow: hidden;
  width: 650px;
  float: right; }
  .info-block .title {
    display: table;
    color: #3ba8c0;
    padding: 15px 20px;
    border-bottom: 2px solid #3ba8c0;
    margin-right: auto;
    margin-bottom: 25px; }

.input, .textarea {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #51daf8;
  background-color: #fff;
  color: #51daf8;
  font-size: 13px;
  border-radius: 4px;
  outline: none; }
  .input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder {
    color: #51daf8; }
  .input::-moz-placeholder, .textarea::-moz-placeholder {
    color: #51daf8; }
  .input:-ms-input-placeholder, .textarea:-ms-input-placeholder {
    color: #51daf8; }
  .input::placeholder, .textarea::placeholder {
    color: #51daf8; }

.textarea {
  resize: none; }

.btn, .btn-grey {
  display: block;
  padding: 2px 25px;
  color: #fff;
  font-size: 19px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px -4px 1px -2px #3ba8c0 inset;
  background-color: #48cbe8; }
  .btn:hover, .btn-grey:hover {
    box-shadow: none; }
  .btn:active, .btn-grey:active {
    box-shadow: 0px 4px 1px -2px #3ba8c0 inset; }

.btn-grey {
  box-shadow: 0px -4px 1px -2px #687b8f inset;
  background-color: #849db5;
  float: right; }
  .btn-grey:active {
    box-shadow: 0px 4px 1px -2px #687b8f inset; }

.footer-wrapper {
  max-width: 960px;
  position: relative;
  margin: auto;
  padding-top: 25px; }
  .footer-wrapper:after, .footer-wrapper:before {
    content: "";
    display: block;
    clear: both; }
  .footer-wrapper:before {
    display: table; }

.page-footer {
  background-color: #eff3f7;
  height: 80px; }
  .page-footer .login {
    position: absolute;
    left: 30px;
    top: 20px;
    text-indent: -9999px; }
    .page-footer .login:hover {
      background-position: -373px 0px; }
  .page-footer .copyright {
    font-size: 13px;
    text-align: center;
    font-family: 'fira_sanslight', sans-serif; }
  .page-footer:before {
    content: "";
    display: block;
    height: 3px;
    background-image: url("../img/line.jpg");
    background-position: center;
    background-repeat: repeat-y;
    background-size: 100%; }
