@import 'settings';

.form-wrapper{
	width: 400px;
	margin: auto;
}

.contact-me{
	padding: 0;
	margin-bottom: 0;

	&-message{
		box-sizing: border-box;
		padding: 40px 50px;
		margin-bottom: 35px;
		background-color: $color-normal;
		font-size: 27px;
		color: white;
		text-align: center;
		border-bottom: 20px solid $color-light;
	}
	&-name, &-email, &-text{
		font-family: 'fira_sanslight', sans-serif;
		&-label{
			display: block;
			font-size: 19px;
			color: $color-grey;
		}
		&-input{
			margin-bottom: 10px;
			width: 100%;
		}
	}
	&-name{
		&-box{
			float: left;
			width: 190px;
		}
	}
	&-email{
		&-box{
			float: right;
			width: 190px;
		}
	}
	&-text{
		&-input{
			height: 180px;
		}
	}
	&-captcha{
		margin-bottom: 25px;
		text-align: right;
		.g-recaptcha{
			display: inline-block;
		}
	}
	&-submit{
		float: left;
	}
	&-reset{
		float: right;
	}
	&-submit, &-reset{
		font-size: 19px;
		margin-bottom: 40px;
	}
}