@import 'settings';

$auth-width: 590px;
$auth-height: 480px;

.auth-form{
	padding: 0;
	position: absolute;
	width: $auth-width;
	height: $auth-height;
	left: 50%;
	top: 50%;
	margin-left: -$auth-width/2;
	margin-top: -$auth-height/2;
	background-color: $color-lightgrey;
	border-radius: 4px;
	box-shadow: 0px 5px 10px 0 $color-grey;
	overflow: hidden;
	&-title{
		box-sizing: border-box;
		padding: 20px;
		padding-bottom: 15px;
		margin-bottom: 15px;
		background-color: $color-normal;
		font-size: 40px;
		color: #fff;
		text-align: center;
		border-bottom: 15px solid $color-light;
	}
	&-login, &-pass{
		&-label{
			font-family: 'fira_sanslight', sans-serif;
			display: block;
			text-align: center;
			font-size: 36px;
			color: $color-grey;
		}
		&-input{
			font-family: 'fira_sanslight', sans-serif;
			margin: auto;
			width: 420px;
			font-size: 17px;
			padding: 15px;
			margin-bottom: 20px;
		}
	}
	&-pass-input{
		margin-bottom: 30px;
	}
	&-submit{
		margin: auto;
		padding: 0px 60px;
		font-size: 36px;
		border-radius: 6px;
		margin-bottom: 40px;
	}
}