@import 'sprite';
@import 'settings';

@mixin clearfix{
	&:after, &:before{
		content:"";
		display:block;
		clear:both;
	}
	&:before{
		display:table;
	}
}

@include sprites(($social-vk, $social-fb, $social-tw, $social-git, $login-lock, $close));

html, body{
	height: 100%;
	color: $text-color;
}

h1, h2, h3, h4, h5, h6, p{
	margin: 0;
	font-weight: normal;
}
h1{	font-size: 27px; }
h2{	font-size: 21px; }
h3{	font-size: 17px; }
h4{	font-size: 16px; }
h5{	font-size: 15px; }
h6{	font-size: 14px; }
p{ font-size: 15px; }

/* True headers
h1{	font-size: 27px; }
h2{	font-size: 25px; }
h3{	font-size: 23px; }
h4{	font-size: 21px; }
h5{	font-size: 19px; }
h6{	font-size: 17px; }
*/
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
body{
	min-width: 980px;
	background-image: url('../img/bg.png');
	font-family: 'fira_sansbook', sans-serif;
}

.hidden{
	display: none!important;
}

.main-page{ //For sticky footer
	min-height: 100%;
	margin-bottom: - $size-footer;
	&:after{
		display: block;
		content: "";
		height: $size-footer;
	}
}
//Wrapper only for general block
.page-wrapper{
	width: 960px;
	margin: auto;
	padding-top: 40px;
	padding-bottom: 40px;
	@include clearfix;
}

.header-wrapper{
	max-width: 1200px;
	margin: auto;
	padding-top: 35px;
	padding-bottom: 35px;
	@include clearfix;
}
// Header START
.page-header{
	background-color: $color-lightgrey;

	@include clearfix;
	
	//Gradient line
	&:after{
		height: 3px;
		background-image: url('../img/line.jpg');
		background-position: center;
		background-repeat: repeat-y;
		background-size: 100%;
	}
}

.logo{
	&-link{
		display: block;
		float: left;
	}
	&-image{
		display: block;
	}
	&-text{
		display: block;
		position: absolute;
		text-indent: -9999px;
	}
}


//Social buttons
.social{
	float: right;
	font-size: 0;

	&-item{
		display: inline-block;
		margin-left: 25px;
		font-size: 1em;
	}
	&-item:first-child{
		margin-left: 0;
	}
	&-link{
		display: block;
		text-indent: -9999px;
	}
	&-vk:hover{
		@include sprite-position($social-vk-hover);
	}
	&-tw:hover{
		@include sprite-position($social-tw-hover);
	}
	&-fb:hover{
		@include sprite-position($social-fb-hover);
	}
	&-git:hover{
		@include sprite-position($social-git-hover);
	}
}
//Header END

//Sidebar START
.main-sidebar{
	float: left;
	width: 250px;
}
.main-menu{
	background-color: $color-lightgrey;
	margin-bottom: 25px;
	overflow: hidden;
	border-radius: 4px;

	.menu-link{
		display: block;
		text-decoration: none;
		color: $color-grey;
		font-size: 21px;
		padding: 20px 15px;
		margin-left: 10px;
		margin-right: 10px;
		&:hover{
			color: $color-extradark;
		}
		border-top: 2px solid $color-extradark;
	}
	//Delimiter for menu items
	.menu-item:first-child{
		.menu-link{
			border: none;
		}
	}

	.active.menu-item{ 
		background-color: $color-extradark;
		.menu-link{
			font-size: 22px;
			color: #fff;
			border: none;
		}
		&+.menu-item{
			.menu-link{
				border-top: none;
			}
		}
	}
}

.contact{
	color: #fff;
	margin-bottom: 25px;
	overflow: hidden;
	border-radius: 4px;

	.title{
		background-color: $color-extradark;
		padding: 5px 25px;

	}
	&-item{
		padding: 5px 0;
		position: relative;
		&:before{
			display: block;
			position: absolute;
			top: 7px;
			left: 40px;
			content: "";
		}
		&-mail{
			background-color: $color-dark;
			&:before{
				@include sprite($contact-mail);
			}
		}
		&-phone{
			background-color: $color-normal;
			&:before{
				@include sprite($contact-phone);
			}
		}
		&-skype{
			background-color: $color-light;
			&:before{
				@include sprite($contact-skype);
			}
		}
	}
	&-link{
		margin-left: 85px;
		vertical-align: middle;
		color: #fff;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}

}
//Sidebar END

//For blocks on page
.info-block{
	box-sizing: border-box;
	background-color: $color-lightgrey;
	margin-bottom: 25px;
	padding-bottom: 15px;
	padding-right: 35px;
	border-radius: 4px;
	overflow: hidden;
	width: 650px;
	float: right;

	.title{
		display: table;
		color: $color-extradark;
		padding: 15px 20px;
		border-bottom: 2px solid $color-extradark;
		margin-right: auto;
		margin-bottom: 25px;
	}

}//For forms on page

.input{
	display: block;
	box-sizing: border-box;
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid $color-light;
	background-color: #fff;
	color: $color-light;
	font-size: 13px;
	border-radius: 4px;
	outline: none;
	&::placeholder{
		color: $color-light;
	}
}
.textarea{
	@extend .input;
	resize: none;
}
.btn{
	display: block;
	padding: 2px 25px;
	color: #fff;
	font-size: 19px;
	border: none;
	border-radius: 4px;
	outline: none;
	&:hover{
		box-shadow: none;
	}
	box-shadow: 0px -4px 1px -2px $color-extradark inset;
	background-color: $color-normal;
	&:active{
		box-shadow: 0px 4px 1px -2px $color-extradark inset;
	}
}
.btn-grey{
	@extend .btn;
	box-shadow: 0px -4px 1px -2px #687b8f inset;
	background-color: #849db5;
	float: right;
	&:active{
		box-shadow: 0px 4px 1px -2px #687b8f inset;
	}
}
.vd-invalid{
	border-color: $color-error;
	background-color: $color-errorlight;
}
.tooltip-wrapper{
	position: absolute;
}
.tooltip{
	position: relative;
	display: inline-block;
	padding: 0 15px;
	border-radius: 4px;
	background-color: $color-error;
	color: #fff;
	font-size: 13px;
	z-index: 999;
	white-space: nowrap;
	&:after{
		position: absolute;
		display: block;
		content: "";
		width: 0;
		height: 0;
		top: 50%;
		margin-top: -5px;
		border: 5px solid transparent;
	}
	&.right{
		margin-left: 5px;
		&:after{
			left: -10px;
			border-right-color: $color-error;
		}
	}
	&.left{
		margin-right: 5px;
		&:after{
			border-left-color: $color-error;
			right: -10px;
		}
	}
}


//Footer START
.footer-wrapper{
	max-width: 960px;
	position: relative;
	margin: auto;
	padding-top: 25px;
	@include clearfix;
}

.page-footer{
	background-color: $color-lightgrey;
	height: $size-footer;
	
	.login{
		position: absolute;
		left: 30px;
		top: 20px;
		text-indent: -9999px;
		&:hover{
			@include sprite-position($login-unlock);
		}
	}
	.copyright{
		font-size: 13px;
		text-align: center;
		font-family: 'fira_sanslight', sans-serif;
	}
	&:before{
		content: "";
		display: block;
		height: 3px;
		background-image: url('../img/line.jpg');
		background-position: center;
		background-repeat: repeat-y;
		background-size: 100%;
	}
}
//Footer END